<html>
    <head>
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>Hypnotiquand</title>
        {% endif %}
        <link rel="icon" href="{{ url_for('static', filename='Images/hypnotica.png') }}" type="image/png">
        <link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
        <script src="{{ url_for('static', filename='materialize/js/materialize.js') }}"></script>
    </head>

    <body>
        <!-- import fonts -->
        <!-- <style>
            @font-face {
                font-family: "metal";
                src: url({{ url_for('static', filename='fonts/metal_lord.ttf') }});
            }
        </style> -->
        <nav>
            <div class="nav-wrapper grey darken-4 valign-wrapper">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="#"><img src="{{ url_for('static', filename='Images/icons/Home.png') }}" alt="Home"></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='Images/icons/Login.png') }}" alt="Login"></a></li>
                </ul>
                <ul id="nav-mobile" class="hide-on-med-and-down right" style="margin-left: 70%;">
                    <li><a href="#"><img src="{{ url_for('static', filename='Images/icons/Schedule.png') }}" alt="Schedule"></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='Images/icons/Music.png') }}" alt="Music"></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='Images/icons/Sheets.png') }}" alt="Sheets"></a></li>
                </ul>
                <a href="#" class="brand-logo center" id="Hypnologo"> <p  class="white-text">Hypnotica</p></a>   
            </div>
        </nav>
        
    </body>
</html>